<!DOCTYPE html>
<html>

<head>
  <title>K6 Summary Report</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <style>
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron jumbotron-fluid bg-white my-5">
      <div class="container px-0">
        <h1 class="display-4">K6 Summary Report</h1>
        <p class="lead">Powered by k6-html-reporter</p>
      </div>
      <hr>
      <% if(checks.length > 0) {%>
      <div class="my-2">
        <button class="btn btn-lg fs-2 my-2 px-0 text-dark text-decoration-underline" data-bs-toggle="collapse" data-bs-target="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">
          Checks
        </button>
        <div class="collapse show" id="collapseExample">
          <table class="table table-hover table-sm table-borderless">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">check</th>
                <th scope="col">passes</th>
                <th scope="col">fails</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < checks.length; i++) { %>
              <% if(checks[i].fails > 0) { %>
              <tr class="bg-danger text-white">
                <% } else { %>
              <tr>
                <% } %>
                <th scope="row" class="text-secondary"><%= i+1 %></th>
                <td class="text-primary"><%= checks[i].pathArray%></td>
                <td><%= checks[i].passes %></td>
                <td><%= checks[i].fails %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <p class="d-inline-block me-3 text-success">passes: <%= checkMetric.passes %></p>
          <p class="d-inline-block text-danger">fails: <%= checkMetric.fails %></p>

          <% if(checkMetric["thresholds"]) { %>
          <div>
            <p class="d-inline-block">Thresholds:</p>
            <%for(let item in checkMetric.thresholds) { %>
              <p class="d-inline-block"><%= item%>: <%= checkMetric["thresholds"][item]%></p>
            <%}%>
          </div>
          <% } %>
        </div>
      </div>
      <% } %>
      <div class="my-2">
        <button class="btn btn-lg fs-2 px-0 text-dark text-decoration-underline" data-bs-toggle="collapse" data-bs-target="#collapseMetric"
          aria-expanded="false" aria-controls="collapseMetric">
          Metrics
        </button>
        <div class="collapse show" id="collapseMetric">
          <% if(countMetrics.length > 0) {%>
          <div class="my-3">
            <h6>Measured based on rate</h6>
            <table class="table table-hover table-sm table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">name</th>
                  <th scope="col">count</th>
                  <th scope="col">rate</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < countMetrics.length; i++) { %>
                <tr>
                  <th scope="row" class="text-secondary"><%= i+1 %></th>
                  <td class="text-primary"><%= countMetrics[i].name %></td>
                  <td><%= countMetrics[i].count %></td>
                  <td><%= countMetrics[i].rate %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %>

          <% if(timeMetrics.length > 0) {%>
          <div class="mt-4">
            <h6>Measured based on time</h6>
            <table class="table table-hover table-sm table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">name</th>
                  <th scope="col">avg</th>
                  <th scope="col">max</th>
                  <th scope="col">med</th>
                  <th scope="col">min</th>
                  <th scope="col">P(90)</th>
                  <th scope="col">P(95)</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < timeMetrics.length; i++) { %>
                <tr>
                  <th scope="row" class="text-secondary"><%= i+1 %></th>
                  <td class="text-primary"><%= timeMetrics[i].name %></td>
                  <td><%= timeMetrics[i].avg.toFixed(2) %> ms</td>
                  <td><%= timeMetrics[i].max.toFixed(2) %> ms</td>
                  <td><%= timeMetrics[i].med.toFixed(2) %> ms</td>
                  <td><%= timeMetrics[i].min.toFixed(2) %> ms</td>
                  <td><%= timeMetrics[i]["p(90)"].toFixed(2) %> ms</td>
                  <td><%= timeMetrics[i]["p(95)"].toFixed(2) %> ms</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %>

          <% if(vusMetrics.length > 0) {%>
            <div class="mt-4">
              <h6>Measured based on vus</h6>
              <table class="table table-hover table-sm table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">max</th>
                    <th scope="col">min</th>
                    <th scope="col">value</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i < vusMetrics.length; i++) { %>
                  <tr>
                    <th scope="row" class="text-secondary"><%= i+1 %></th>
                    <td class="text-primary"><%= vusMetrics[i].name %></td>
                    <td><%= vusMetrics[i].max %></td>
                    <td><%= vusMetrics[i].min %></td>
                    <td><%= vusMetrics[i].value %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          <% } %>

        </div>
      </div>





    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>