<!DOCTYPE html>
<html>

<head>
  <title>K6 Summary Report</title>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <style>
    ::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* make scrollbar transparent */
    }
    .fail-block {
      background-color: #F9DCDE;
      color: #9b0909;
    }
    .success-block {
      background-color: #D7EADA;
      color: #283618;
    }
    .banner-danger {
      background-color: #D94851;
      color: white;
    }
    .banner-success {
      background-color: #D7EADA;
      color: #283618;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="jumbotron jumbotron-fluid bg-white my-5">
      <div class="container px-0 mb-5">
        <h1 class="display-2 text-primary text-dark text-center">K6 Summary Report</h1>
        <p class="text-secondary text-center">Generated at <%=time%></p>
      </div>

      <% if(allThresholds.length > 0) { %>
        <div class="my-3">
          <div class="mt-3">
            <button class="btn btn-lg fs-2 px-0 text-primary" style="box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseThreshold"
            aria-expanded="false" aria-controls="collapseThreshold">
              Thresholds
            </button>
            <p class="text-secondary">Pass/fail criteria used to specify the performance expectations of the system under test.</p>
            <% if(totalThresholdResult.fails > 0) { %>
              <div class="alert alert-warning alert-dismissible fade show banner-danger mt-3" role="alert">
                <%=totalThresholdResult.fails%> <%if(totalThresholdResult.fails === 1){%>threshold was<%} else {%>thresholds were<%}%> not met
              </div>
            <% } else { %>
              <div class="alert banner-success my-2" role="alert">
                All thresholds were met!
              </div>
            <% } %>
          </div>
          
          <div class="collapse show" id="collapseThreshold">
            <p class="d-inline-block me-3 text-success">passes: <%= totalThresholdResult.passes %></p>
            <p class="d-inline-block me-3 text-danger">fails: <%= totalThresholdResult.fails %></p>
            <ul class="list-group">
              <%allThresholds.forEach(data => {%>
                <li class="list-group-item">
                  <h6><%= data.name %></h6>
                  <ul class="list-group">
                    <% for(let [key, value] of Object.entries(data.thresholds)) {%>
                    <% if(value.ok === false) { %>
                    <li class="list-group-item fail-block">
                    <%} else {%>
                    <li class="list-group-item success-block">
                    <%}%>
                      <%= key %>
                    </li>
                    <%}%>
                  </ul>
                </li>
              <%})%>
            </ul>
          </div>
        </div>
      <% } %>

      <% if(checks.length > 0) {%>
      <div>
        <div>
          <button class="btn btn-lg fs-2 px-0 text-primary" style="box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Checks
          </button>
          <p class="text-secondary">Asserts that don't halt the execution unless specified in the threshold.</p>
        </div>
        <div class="collapse show mt-4" id="collapseExample">
          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">check</th>
                <th scope="col">passes</th>
                <th scope="col">fails</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < checks.length; i++) { %>
              <% if(checks[i].fails > 0) { %>
              <tr class="fail-block">
                <% } else { %>
              <tr>
                <% } %>
                <th scope="row" class="text-secondary"><%= i+1 %></th>
                <td><%= checks[i].pathArray%></td>
                <td><%= checks[i].passes %></td>
                <td><%= checks[i].fails %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <p class="d-inline-block me-3 text-success">passes: <%= checkMetric.values.passes %></p>
          <p class="d-inline-block me-3 text-danger">fails: <%= checkMetric.values.fails %></p>
          <p class="d-inline-block text-info">pass rate: <%= (checkMetric.values.passes * 100/(checkMetric.values.fails + checkMetric.values.passes)).toFixed(2) %>%</p>
          
          <% if(checkMetric["thresholds"]) { %>
            <% if(checkMetric.thresholdFailed === true) { %>
              <p class="text-danger">Threshold for checks was not met, more details in the threshold session</p>
            <% } else { %>
              <p class="text-success">All thresholds for checks were met</p>
            <% } %>
          <% } %>
        </div>
      </div>
      <% } %>

      <div class="mt-3">
        <div class="mb-4">
          <button class="btn btn-lg fs-2 px-0 text-primary" style="box-shadow: none;" data-bs-toggle="collapse" data-bs-target="#collapseMetric"
            aria-expanded="false" aria-controls="collapseMetric">
            Metrics
          </button>
          <p class="text-secondary">Important aspect of metrics management in k6</p>
        </div>
        <div class="collapse show" id="collapseMetric">
          <% if(counterMetrics.length > 0) {%>
          <div class="mb-5">
            <h5>A metric that cumulatively sums added values.</h5>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">name</th>
                  <th scope="col">count</th>
                  <th scope="col">rate</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < counterMetrics.length; i++) { %>
                <% if(counterMetrics[i].thresholdFailed === true) {%>
                <tr class="fail-block">
                <% } else { %>
                <tr>
                <% } %>
                  <th scope="row" class="text-secondary"><%= i+1 %></th>
                  <td><%= counterMetrics[i].name %></td>
                  <td><%= counterMetrics[i].values.count %></td>
                  <td><%= counterMetrics[i].values.rate %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %>

          <% if(trendMetrics.length > 0) {%>
          <div class="mb-5">
            <h5>A metric that allows for calculating statistics on the added values (min, max, average and percentiles).</h5>
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">name</th>
                  <th scope="col">avg</th>
                  <th scope="col">max</th>
                  <th scope="col">med</th>
                  <th scope="col">min</th>
                  <th scope="col">P(90)</th>
                  <th scope="col">P(95)</th>
                </tr>
              </thead>
              <tbody>
                <% for(let i=0; i < trendMetrics.length; i++) { %>
                <% if(trendMetrics[i].thresholdFailed === true) {%>
                <tr class="fail-block">
                <% } else { %>
                <tr>
                <% } %>
                  <th scope="row" class="text-secondary"><%= i+1 %></th>
                  <td><%= trendMetrics[i].name %></td>
                  <td><%= trendMetrics[i].values.avg.toFixed(2) %> ms</td>
                  <td><%= trendMetrics[i].values.max.toFixed(2) %> ms</td>
                  <td><%= trendMetrics[i].values.med.toFixed(2) %> ms</td>
                  <td><%= trendMetrics[i].values.min.toFixed(2) %> ms</td>
                  <td><%= trendMetrics[i].values["p(90)"].toFixed(2) %> ms</td>
                  <td><%= trendMetrics[i].values["p(95)"].toFixed(2) %> ms</td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
          <% } %>

          <% if(rateMetrics.length > 0) {%>
            <div class="mb-5">
              <h5>A metric that tracks the percentage of added values that are non-zero.</h5>
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">rate</th>
                    <th scope="col">passes</th>
                    <th scope="col">fails</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i < rateMetrics.length; i++) { %>
                  <% if(rateMetrics[i].thresholdFailed === true) {%>
                  <tr class="fail-block">
                  <% } else { %>
                  <tr>
                  <% } %>
                    <th scope="row" class="text-secondary"><%= i+1 %></th>
                    <td><%= rateMetrics[i].name %></td>
                    <td><%= rateMetrics[i].values.rate %></td>
                    <td><%= rateMetrics[i].values.passes %></td>
                    <td><%= rateMetrics[i].values.fails %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          <% } %>

          <% if(gaugeMetrics.length > 0) {%>
            <div>
              <h5>A metric that stores the min, max and last values added to it.</h5>
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">max</th>
                    <th scope="col">min</th>
                    <th scope="col">value</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i < gaugeMetrics.length; i++) { %>
                  <% if(gaugeMetrics[i].thresholdFailed === true) {%>
                  <tr class="fail-block">
                  <% } else { %>
                  <tr>
                  <% } %>
                    <th scope="row" class="text-secondary"><%= i+1 %></th>
                    <td><%= gaugeMetrics[i].name %></td>
                    <td><%= gaugeMetrics[i].values.max %></td>
                    <td><%= gaugeMetrics[i].values.min %></td>
                    <td><%= gaugeMetrics[i].values.value %></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
              <% if(allThresholds.length > 0) { %>
                <%if(totalThresholdResult.failedMetricsNum === 0) {%>
                  <p class="text-success mt-4">All thresholds for metrics were met</p>
                <%} else {%> 
                  <p class="text-danger"><%=totalThresholdResult.failedMetricsNum%> <%if(totalThresholdResult.failedMetricsNum === 1){%>metric<%} else {%>metrics<%}%> failed the thresholds, more details in the threshold session</p>
                <%}%>
              <% } %>
            </div>
          <% } %>
        </div>
      </div>
      <hr class="mt-5"/>
      <footer class="text-secondary text-center">Powered by k6-html-reporter</footer>




    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>
